{% if filetype_loop_jinja2 == "csv" %}Hostname,Platform,Chassis,Version,Image ID,OS,Uptime,Last Reload,Last Reload Reason,Interfaces,Total Memory,Used Memeory,Serial Number,License Type
{{ to_parse_version.hostname }},{{ to_parse_version.platform }},{{ to_parse_version.chassis }},{{ to_parse_version.version }},{{ to_parse_version.image_id }},{{ to_parse_version.os }},{{ to_parse_version.uptime | replace(","," ") }},{{ to_parse_version.system_restarted_at | replace(","," ") }},{{ to_parse_version.last_reload_reason | replace(","," ") }},{{ to_parse_version.number_of_intfs | replace(","," ") | replace("{","") | replace("}","") }},{{ to_parse_version.main_mem }},{{ to_parse_version.mem_size | replace(","," ") | replace("{","") | replace("}","") }},{{ to_parse_version.chassis_sn }},{{ to_parse_version.license_type }}{% else %}{% if filetype_loop_jinja2 == "md" %}
# Show Version
| Hostname | Platform | Chassis | Version | Image ID | OS | Uptime | Last Reload | Last Reload Reason | Interfaces | Total Memory | Used Memeory | Serial Number | License Type |
| -------- | -------- | ------- | ------- | -------- | -- | ------ | ----------- | ------------------ | ---------- | ------------ | ------------ | ------------- | ------------ |
| {{ to_parse_version.hostname }} | {{ to_parse_version.platform }} | {{ to_parse_version.chassis }} | {{ to_parse_version.version }} | {{ to_parse_version.image_id }} | {{ to_parse_version.os }} | {{ to_parse_version.uptime | replace(","," ") }} | {{ to_parse_version.system_restarted_at | replace(","," ") }} | {{ to_parse_version.last_reload_reason | replace(","," ") }} | {{ to_parse_version.number_of_intfs | replace(","," ") | replace("{","") | replace("}","") }} | {{ to_parse_version.main_mem }} | {{ to_parse_version.mem_size | replace(","," ") | replace("{","") | replace("}","") }} | {{ to_parse_version.chassis_sn }} | {{ to_parse_version.license_type }} |{% else %}
<html><head><link rel="stylesheet" href="../../../styles.css"></head><body>
<h1>Show Version</h1>
<table class="merlin-table">
  <thead>
    <tr>
      <th>Hostname</th>
      <th>Platform</th>
      <th>Chassis</th>
      <th>Version</th>
      <th>Image ID</th>
      <th>OS</th>   
      <th>Uptime</th>
      <th>Last Reload</th>
      <th>Last Reload Reason</th>
      <th>Interfaces</th>
      <th>Total Memory</th>
      <th>Used Memory</th>
      <th>Serial Number</th>
      <th>License Type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ to_parse_version.hostname }}</td>
      <td>{{ to_parse_version.platform }}</td>
      <td>{{ to_parse_version.chassis }}</td>
      <td>{{ to_parse_version.version }}</td>
      <td>{{ to_parse_version.image_id }}</td>
      <td>{{ to_parse_version.os }}</td>   
      <td>{{ to_parse_version.uptime }}</td>
      <td>{{ to_parse_version.system_restarted_at }}</td>
      <td>{{ to_parse_version.last_reload_reason }}</td>
      <td>{{ to_parse_version.number_of_intfs | replace("{","") | replace("}","") }}</td>
      <td>{{ to_parse_version.main_mem }}</td>
      <td>{{ to_parse_version.mem_size | replace("{","") | replace("}","") }}</td>
      <td>{{ to_parse_version.chassis_sn }}</td>
      <td>{{ to_parse_version.license_type }}</td>
    </tr>
  </tbody>
</table>
</body></html>{% endif %}{% endif %}