{% if filetype_loop_jinja2 == "csv" %}Total Available,Total Used
{{ total_avail }},{{ total_used }}{% else %}{% if filetype_loop_jinja2 == "md" %}
# Inline Power Totals
| Total Available | Total Used |
| --------------- | ---------- |
| {{ total_avail }} | {{ total_used }} |{% else %}
<html><head><link rel="stylesheet" href="../../../styles.css"></head><body>
<h1>Inline Power Totals</h1>
<table class="merlin-table">
  <thead>
  <tr>
    <th>Total Available</th>
    <th>Total Used</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td>{{ total_avail }}</td>
    <td>{{ total_used }}</td>
  </tr>
  </tbody>
</table>
</body></html>{% endif %}{% endif %}