{% if filetype_loop_jinja2 == "csv" %}Interface,Encapsulation,Mode,Native Vlan,Status,Allowed on Trunk,STP Forwarding{% for interface in to_parse_interfaces_trunk %}
{{ interface }},{{ to_parse_interfaces_trunk[interface].encapsulation }},{{ to_parse_interfaces_trunk[interface].mode }},{{ to_parse_interfaces_trunk[interface].native_vlan }},{{ to_parse_interfaces_trunk[interface].status }},{{ to_parse_interfaces_trunk[interface].vlans_allowed_on_trunk | replace(","," ") }},{{ to_parse_interfaces_trunk[interface].vlans_in_stp_forwarding_not_pruned | replace(","," ") }}{% endfor %}{% else %}{% if filetype_loop_jinja2 == "md" %}
# Show Interface Trunk
| Interface | Encapsulation | Mode | Native Vlan | Status | Allowed on Trunk | STP Forwarding |
| --------- | ------------- | ---- | ----------- | ------ | ---------------- | -------------- |{% for interface in to_parse_interfaces_trunk %}
| {{ interface }} | {{ to_parse_interfaces_trunk[interface].encapsulation }} | {{ to_parse_interfaces_trunk[interface].mode }} | {{ to_parse_interfaces_trunk[interface].native_vlan }} | {{ to_parse_interfaces_trunk[interface].status }} | {{ to_parse_interfaces_trunk[interface].vlans_allowed_on_trunk | replace(","," ") }} | {{ to_parse_interfaces_trunk[interface].vlans_in_stp_forwarding_not_pruned | replace(","," ") }} |{% endfor %}{% else %}
<html><head><link rel="stylesheet" href="../../../styles.css"></head><body>
<h1>Show Interfaces Trunk</h1>
<table class="merlin-table">
  <thead>
  <tr>
    <th>Interface</th>
    <th>Encapsulation</th>
    <th>Mode</th>
    <th>Native Vlan</th>
    <th>Status</th>   
    <th>Allowed on Trunk</th>
    <th>STP Forwarding</th>
  </tr>
  </thead>
  <tbody>
  {% for interface in to_parse_interfaces_trunk %}
  <tr>
    <td>{{ interface }}</td>
    <td>{{ to_parse_interfaces_trunk[interface].encapsulation }}</td>
    <td>{{ to_parse_interfaces_trunk[interface].mode }}</td>
    <td>{{ to_parse_interfaces_trunk[interface].native_vlan }}</td>
    <td>{{ to_parse_interfaces_trunk[interface].status }}</td>
    <td>{{ to_parse_interfaces_trunk[interface].vlans_allowed_on_trunk | replace(","," ") }}</td>
    <td>>{{ to_parse_interfaces_trunk[interface].vlans_in_stp_forwarding_not_pruned | replace(","," ") }}</td>
  </tr>{% endfor %}
  </tbody>
</table>
</body></html>{% endif %}{% endif %}