{# Global Config #}
{% include "intended_ssh_global_config.j2" %}
{# VDC #}
{% include "intended_ssh_vdcs.j2" %}
{# Users #}
{% include "intended_ssh_users.j2" %}
{# RADIUS Servers #}
{% include "intended_ssh_radius_servers.j2" %}
{# AAA Groups #}
{% include "intended_ssh_aaa_radius_groups.j2" %}
{# SNMP Users #}
{% include "intended_ssh_snmp_users.j2" %}
{# RMON Events #}
{% include "intended_ssh_rmon_events.j2" %}
{# VLANS #}
{% include "intended_ssh_vlans.j2" %}
{# VRFs #}
{% include "intended_ssh_vrfs.j2" %}
{# SVis #}
{% include "intended_ssh_svis.j2" %}
{# Port-Channels #}
{% include "intended_ssh_port_channels.j2" %}
{# Interfaces #}
{% include "intended_ssh_interfaces.j2" %}
{# Management Interface #}
{% include "intended_ssh_management_interface.j2" %}
{# Loopback Interfaces #}
{% include "intended_ssh_loopback_interfaces.j2" %}
{# Console and VTY Lines #}
{% include "intended_ssh_lines.j2" %}
{# OSPF #}
{% include "intended_ssh_ospf.j2" %}
{# BGP #}
{% include "intended_ssh_bgp.j2" %}