{# Global Config #}
{% include "intended_global_config.j2" %}
{# VDC #}
{% include "intended_vdcs.j2" %}
{# Users #}
{% include "intended_users.j2" %}
{# RADIUS Servers #}
{% include "intended_radius_servers.j2" %}
{# AAA Groups #}
{% include "intended_aaa_radius_groups.j2" %}
{# SNMP Users #}
{% include "intended_snmp_users.j2" %}
{# RMON Events #}
{% include "intended_rmon_events.j2" %}
{# VLANS #}
{% include "intended_vlans.j2" %}
{# VRFs #}
{% include "intended_vrfs.j2" %}
{# SVis #}
{% include "intended_svis.j2" %}
{# Port-Channels #}
{% include "intended_port_channels.j2" %}
{# Interfaces #}
{% include "intended_interfaces.j2" %}
{# Management Interface #}
{% include "intended_management_interface.j2" %}
{# Loopback Interfaces #}
{% include "intended_loopback_interfaces.j2" %}
{# Console and VTY Lines #}
{% include "intended_lines.j2" %}
{# OSPF #}
{% include "intended_ospf.j2" %}
{# BGP #}
{% include "intended_bgp.j2" %}