{
    "type": "NetworkGraph",
    "label": "Learn Interfaces",
    "protocol": "OLSR",
    "version": "0.6.6.2",
    "metric": "ETX",
    "nodes": [
        { 
            "id": "{{ device_alias }}"
        },
    ],
    "links": [
    ]
}