{% if filetype_loop_jinja2 == "csv" %}VLAN,Name,State,Shutdown,Interface{% for vlan in to_parse_vlan %}{% if to_parse_vlan[vlan].interfaces is defined %}{% for interface in to_parse_vlan[vlan].interfaces %}
{{ vlan }},{{ to_parse_vlan[vlan].name }},{{ to_parse_vlan[vlan].state }},{{ to_parse_vlan[vlan].shutdown }},{{ interface }}{% endfor %}{% else %}
{{ vlan }},{{ to_parse_vlan[vlan].name }},{{ to_parse_vlan[vlan].state }},{{ to_parse_vlan[vlan].shutdown }},N/A{% endif %}{% endfor %}{% else %}{% if filetype_loop_jinja2 == "md" %}
# Learn VLAN
| VLAN | Name | State | Shutdown | Interface |
| ---- | ---- | ----- | -------- | --------- |{% for vlan in to_parse_vlan %}{% if to_parse_vlan[vlan].interfaces is defined %}{% for interface in to_parse_vlan[vlan].interfaces %}
| {{ vlan }} | {{ to_parse_vlan[vlan].name }} | {{ to_parse_vlan[vlan].state }} | {{ to_parse_vlan[vlan].shutdown }} | {{ interface }} |{% endfor %}{% else %}
| {{ vlan }} | {{ to_parse_vlan[vlan].name }} | {{ to_parse_vlan[vlan].state }} | {{ to_parse_vlan[vlan].shutdown }} | N/A |{% endif %}{% endfor %}{% else %}
<html><head><link rel="stylesheet" href="../../../styles.css"></head><body>
<h1>Learn VLAN</h1>
<table class="merlin-table">
  <thead>
  <tr>
  <th>VLAN</th>
  <th>Name</th>
  <th>State</th>
  <th>ShutdownInterface</th>
  </tr>
  </thead>
  <tbody>{% for vlan in to_parse_vlan %}{% if to_parse_vlan[vlan].interfaces is defined %}{% for interface in to_parse_vlan[vlan].interfaces %}
  <tr>
    <td>{{ vlan }}</td>
    <td>{{ to_parse_vlan[vlan].name }}</td>
    <td>{{ to_parse_vlan[vlan].state }}</td>
    <td>{{ to_parse_vlan[vlan].shutdown }}</td>
    <td>{{ interface }}</td>
  </tr>{% endfor %}{% else %}
  <tr>
    <td>{{ vlan }}</td>
    <td>{{ to_parse_vlan[vlan].name }}</td>
    <td>{{ to_parse_vlan[vlan].state }}</td>
    <td>{{ to_parse_vlan[vlan].shutdown }}</td>
    <td>N/A</td>
  </tr>{% endif %}{% endfor %}
  </tbody>  
</table>
</body></html>{% endif %}{% endif %}