{
    "type": "NetworkGraph",
    "label": "Show VRF",
    "protocol": "OLSR",
    "version": "0.6.6.2",
    "metric": "ETX",
    "nodes": [
        { 
            "id": "{{ device_alias }}"
        },{% for vrf in to_parse_vrf %}{% set vrf_loop = loop %}
        { 
            "id": "VRF: {{ vrf }}"
        },
        { 
            "id": "Reason: {{ to_parse_vrf[vrf].reason }}"
        },        
        { 
            "id": "ID: {{ to_parse_vrf[vrf].vrf_id }}"
        },
        { 
            "id": "State: {{ to_parse_vrf[vrf].vrf_state }}"{% if vrf_loop.last %}
        }{% else %}
        },{% endif %}{% endfor %}
    ],
    "links": [{% for vrf in to_parse_vrf %}{% set vrf_loop = loop %}
        {
            "source": "{{ device_alias }}",
            "target": "VRF: {{ vrf }}",
            "cost": 1
        },
        { 
            "source": "VRF: {{ vrf }}",
            "target": "Reason: {{ to_parse_vrf[vrf].reason }}",
            "cost": 1
        },        
        { 
            "source": "VRF: {{ vrf }}",
            "target": "ID: {{ to_parse_vrf[vrf].vrf_id }}",
            "cost": 1
        },
        { 
            "source": "VRF: {{ vrf }}",
            "target": "State: {{ to_parse_vrf[vrf].vrf_state }}",
            "cost": 1{% if vrf_loop.last %}
        }{% else %}
        },{% endif %}{% endfor %}
    ]
}