{% if filetype_loop_jinja2 == "csv" %}Port-Channel,Bundle ID,Layer,Type,Status,Protocol,Member Interface,Flags{% for interface in to_parse_etherchannel_summary %}{% for member in to_parse_etherchannel_summary[interface].members %}
{{ interface }},{{ to_parse_etherchannel_summary[interface].bundle_id }},{{ to_parse_etherchannel_summary[interface].layer }},{{ to_parse_etherchannel_summary[interface].type }},{{ to_parse_etherchannel_summary[interface].oper_status }},{{ to_parse_etherchannel_summary[interface].protocol }},{{ member }},{{ to_parse_etherchannel_summary[interface].members[member].flags }}{% endfor %}{% endfor %}{% else %}{% if filetype_loop_jinja2 == "md" %}
# Show Port-Channel Summary
| Port-Channel | Bundle ID | Layer | Type | Status | Protocol | Member Interface | Flags |
| ------------ | --------- | ----- | ---- | ------ | -------- | ---------------- | ----- |{% for interface in to_parse_etherchannel_summary %}{% for member in to_parse_etherchannel_summary[interface].members %}
| {{ interface }} | {{ to_parse_etherchannel_summary[interface].bundle_id }} | {{ to_parse_etherchannel_summary[interface].layer }} | {{ to_parse_etherchannel_summary[interface].type }} | {{ to_parse_etherchannel_summary[interface].oper_status }} | {{ to_parse_etherchannel_summary[interface].protocol }} | {{ member }} | {{ to_parse_etherchannel_summary[interface].members[member].flags }} |{% endfor %}{% endfor %}{% else %}
<html><head><link rel="stylesheet" href="../../../styles.css"></head><body>
<h1>Show Port-Channel Summary</h1>
<table class="merlin-table">
  <thead>
  <tr>
    <th>Port-Channel</th>
    <th>Bundle ID</th>
    <th>Layer</th>
    <th>Type</th>
    <th>Status</th>
    <th>Protocol</th>
    <th>Member Interface</th>
    <th>Flags</th>
  </tr>
  </thead>
  <tbody>{% for interface in to_parse_etherchannel_summary %}{% for member in to_parse_etherchannel_summary[interface].members %}  
  <tr>
    <td>{{ interface }}</td>
    <td>{{ to_parse_etherchannel_summary[interface].bundle_id }}</td>
    <td>{{ to_parse_etherchannel_summary[interface].layer }}</td>
    <td>{{ to_parse_etherchannel_summary[interface].type }}</td>
    <td>{{ to_parse_etherchannel_summary[interface].oper_status }}</td>
    <td>{{ to_parse_etherchannel_summary[interface].protocol }}</td>
    <td>{{ member }}</td>
    <td>{{ to_parse_etherchannel_summary[interface].members[member].flags }}</td>
    <td></td>
  </tr>{% endfor %}{% endfor %}
  </tbody>  
</table>
</body></html>{% endif %}{% endif %}