{% if filetype_loop_jinja2 == "csv" %}Total Entries
{{ to_parse_ip_arp.statistics.entries_total }}
{% else %}{% if filetype_loop_jinja2 == "md" %}
# Show IP ARP (VRF) Statistics
| Total Entries |
| ------------- |
| {{ to_parse_ip_arp.statistics.entries_total }} |{% else %}
<html><head><link rel="stylesheet" href="../../../styles.css"></head><body>
<h1>Show IP ARP VRF STATSITICS</h1>
<table class="merlin-table">
  <thead>
  <tr>
    <th>Total Entries</th>
  </tr>
  </thead>
  <tbody>  
  <tr>
    <td>{{ to_parse_ip_arp.statistics.entries_total }}</td>
  </tr>
  </tbody>  
</table>
</body></html>{% endif %}{% endif %}