{
    "type": "NetworkGraph",
    "label": "Show BGP PROCESS VRF ALL",
    "protocol": "OLSR",
    "version": "0.6.6.2",
    "metric": "ETX",
    "nodes": [
        { 
            "id": "{{ device_alias }}"
        },
        {% for vrf in to_parse_bgp.vrf %}{% set outer_loop = loop %}{% if outer_loop.index > 0 %}
        {
            "id": "Router ID: {{ to_parse_bgp.vrf[vrf].router_id }}"{% if outer_loop.last %}
        }{% else %}
        },{% endif %}{% else %}
        {
            "id": "Router ID: {{ to_parse_bgp.vrf[vrf].router_id }}"
        }{% endif %}{% endfor %}
    ],
    "links": [{% for vrf in to_parse_bgp.vrf %}{% set outer_loop = loop %}{% if outer_loop.index > 0 %}
        {
            "source": "{{ device_alias }}",
            "target": "Router ID: {{ to_parse_bgp.vrf[vrf].router_id }}",
            "cost": 1{% if outer_loop.last %}
        }{% else %}
        },{% endif %}{% else %}
        {
            "source": "{{ device_alias }}",
            "target": "Router ID: {{ to_parse_bgp.vrf[vrf].router_id }}",
            "cost": 1
        }{% endif %}{% endfor %}
    ]
}