<!DOCTYPE html>
<html>
    <head>
        <link href="/src/netjsongraph.css" rel="stylesheet">
        <link href="/src/netjsongraph-theme.css" rel="stylesheet">
    </head>
    <body>
        <script src="/lib/d3.min.js"></script>
        <script src="/src/netjsongraph.js"></script>
        <script>d3.netJsonGraph("{{ device_alias }}_show_vrf_all_interface_netgraph.json");</script>
    </body>
</html>