{
    "type": "NetworkGraph",
    "label": "Show VRF",
    "protocol": "OLSR",
    "version": "0.6.6.2",
    "metric": "ETX",
    "nodes": [
        { 
            "id": "{{ device_alias }}"
        },
        {% for vrf in to_parse_vrf %}{% set outer_loop = loop %}{% if outer_loop.index > 0 %}
        {
            "id": "{{ vrf }}"{% if outer_loop.last %}
        }{% else %}
        },{% endif %}{% else %}
        {
            "id": "{{ vrf }}"
        }{% endif %}{% endfor %}
    ],
    "links": [{% for vrf in to_parse_vrf %}{% set outer_loop = loop %}{% if outer_loop.index > 0 %}
        {
            "source": "{{ device_alias }}",
            "target": "{{ vrf }}",
            "cost": 1{% if outer_loop.last %}
        }{% else %}
        },{% endif %}{% else %}
        {
            "source": "{{ device_alias }}",
            "target": "{{ vrf }}",
            "cost": 1
        }{% endif %}{% endfor %}
    ]
}