{
    "type": "NetworkGraph",
    "label": "Show BGP Sessions",
    "protocol": "OLSR",
    "version": "0.6.6.2",
    "metric": "ETX",
    "nodes": [
        {
            "id": "{{ device_alias }}"
        },{% for vrf in to_parse_bgp.vrf %}
        { 
            "id": "Router ID: {{ to_parse_bgp.vrf[vrf].router_id }}"
        },{% endfor %}
        {% for vrf in to_parse_bgp.vrf %}{% for neighbor in to_parse_bgp.vrf[vrf].neighbor %}{% set outer_loop = loop %}{% if outer_loop.index > 0 %}
        {
            "id": "Neighbor: {{ neighbor }}"{% if outer_loop.last %}
        }{% else %}
        },{% endif %}{% else %}
        {
            "id": "Neighbor: {{ neighbor }}"
        }{% endif %}{% endfor %}{% endfor %}
    ],
    "links": [{% for vrf in to_parse_bgp.vrf %}{% for neighbor in to_parse_bgp.vrf[vrf].neighbor %}{% set outer_loop = loop %}{% if outer_loop.index > 0 %}
        {
            "source": "{{ device_alias  }}",
            "target": "Router ID: {{ to_parse_bgp.vrf[vrf].router_id }}",
            "cost": 1
        },
        {
            "source": "Router ID: {{ to_parse_bgp.vrf[vrf].router_id }}",
            "target": "Neighbor: {{ neighbor }}",
            "cost": 1{% if outer_loop.last %}
        }{% else %}
        },{% endif %}{% else %}
        {
            "source": "Router ID: {{ to_parse_bgp.vrf[vrf].router_id }}",
            "target": "Neighbor: {{ neighbor }}",
            "cost": 1
        }{% endif %}{% endfor %}{% endfor %}
    ]
}