VRF,Address Family,Route Distinguisher
{% for vrf in learned_vrf.genie.vrf.vrfs %}
{% for address_family in learned_vrf.genie.vrf.vrfs[vrf].address_family %}
{{ vrf }},{{ address_family }},{{ learned_vrf.genie.vrf.vrfs[vrf].route_distinguisher }}
{% endfor %}
{% endfor %}