# Learn STP Global
| BPDU Filter | BPDU Guard | BPDU Guard Recovery Timeout | EtherChannel Misconfig Guard | Loop Guard |
| ----------- | ---------- | --------------------------- | ---------------------------- | ---------- |
| {{ learned_stp.genie.stp.global.bpdu_filter }} | {{ learned_stp.genie.stp.global.bpdu_guard }} | {{ learned_stp.genie.stp.global.bpduguard_timeout_recovery }} | {{ learned_stp.genie.stp.global.etherchannel_misconfig_guard }} | {{ learned_stp.genie.stp.global.loop_guard }} |
