{% if filetype_loop_jinja2 == "csv" %}Name,Description,Source IP,Destination IP,Subnet Mask,Protocol,Enabled,Partition,Connection Limit,Pool,SNAT,Address Translation,VLANS{% for vs in to_parse_vs %}
{{ vs.name }},{{ vs.description | default("No Description") }},{{ vs.source }},{{ vs.destination }},{{ vs.mask }},{{ vs.ipProtocol }},{{ vs.enabled | default("N/A") }},{{ vs.partition }},{{ vs.connectionLimit }},{{ vs.pool | default("N/A") }},{{ vs.sourceAddressTranslation.pool | default("N/A") }},{{ vs.translateAddress }},{{ vs.vlans | join (',') | default("N/A") }}{% endfor %}{% else %}{% if filetype_loop_jinja2 == "md" %}
# Virtual Servers
| Name | Description | Source IP | Destination IP | Subnet Mask | Protocol | Enabled | Partition | Connection Limit | Pool | SNAT | Address Translation | VLANS |
| ---- | ----------- | --------- | -------------- | ----------- | -------- | ------- | --------- | ---------------- | ---- | ---- | ------------------- | ----- |{% for vs in to_parse_vs %}
| {{ vs.name }} | {{ vs.description | default("No Description") }} | {{ vs.source }} | {{ vs.destination }} | {{ vs.mask }} | {{ vs.ipProtocol }} | {{ vs.enabled | default("N/A") }} | {{ vs.partition }} | {{ vs.connectionLimit }} | {{ vs.pool | default("N/A") }} | {{ vs.sourceAddressTranslation.pool | default("N/A") }} | {{ vs.translateAddress }} | {{ vs.vlans | join (',') | default("N/A") }} |{% endfor %}{% else %}
<html><head><link rel="stylesheet" href="../../../styles.css"></head><body>
<h1>Virtual Servers</h1>
<table class="merlin-table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Source IP</th>
    <th>Desintation IP</th>
    <th>Subnet Mask</th>
    <th>Protocol</th>
    <th>Enabled</th>
    <th>Partition</th>
    <th>Connection Limit</th>
    <th>Pool</th>
    <th>SNAT</th>
    <th>Address Translation</th>
    <th>VLANS</th>
  </tr>
  </thead>
  <tbody>{% for vs in to_parse_vs %}
  <tr>
    <td>{{ vs.name }}</td>
    <td>{{ vs.description | default("No Description") }}</td>
    <td>{{ vs.source }}</td>
    <td>{{ vs.destination }}</td>
    <td>{{ vs.mask }}</td>
    <td>{{ vs.ipProtocol }}</td>
    <td>{{ vs.enabled | default("N/A") }}</td>
    <td>{{ vs.partition }}</td>
    <td>{{ vs.connectionLimit }}</td>
    <td>{{ vs.pool | default("N/A") }}</td>
    <td>{{ vs.connectionLimit }}</td>
    <td>{{ vs.sourceAddressTranslation.pool | default("N/A") }}</td>
    <td>{{ vs.translateAddress }}</td>
    <td>{{ vs.vlans | join (',') | default("N/A") }}</td>
  </tr>{% endfor %}
  </tbody>  
</table>
</body></html>{% endif %}{% endif %}